.innertitle {
	margin-top: -10px;
	padding-top: 0px;
	color: #000cb4;
	font-size: 20px;
}

hr {
	background-color: #000cb4;
	height:2px;
	border: 0px;
}

@media (prefers-color-scheme: dark) {
	

	.innertitle {
		color: #9FA8DA;
	}

	hr {
		background-color: #9FA8DA;
	}

	

}