.glasscont1{
	display: flex;
  	flex-wrap: nowrap;
	justify-content: center;
	width: 50%;
	max-width: 50%;
	float:left;
}

.glasscont2{
	display: flex;
  	flex-wrap: nowrap;
	justify-content: center;
	width: 50%;
	max-width: 50%;
}

.image {
	display: inline-block;
	height: 250px;
	text-align: center;
}

.image img{
	max-height: 100%;
}


.diff {
    float:right;
}

.diff img {
	max-height: 250px;
	
}

@media (max-width: 1000px){
	.diff img {
		max-height: 650px;
		
	}
}

.innertitle {
	margin-top: -10px;
	padding-top: 0px;
	color: #8D6E63;
	font-size: 20px;
}

.subtitle {
	margin-top: 0px;
	padding-top: 0px;
	color: #000000;
	font-size: 18px;
}


.doublebox {
	width: 100%;
	overflow:hidden;
}

.doublebox a {
	font-size: 24px;
	
}

.leftbox {
	float: left;
	width: 50%;
	padding: 15px 15px 15px 15px;
}

.rightbox{
	margin-left: 50%;
	padding: 15px 15px 15px 15px;
}